.gameOver { 
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: solid;
    border-color: rgba(229, 37, 33);
    border-width: 10px;
}

.button {
    color: white;
    background-color: rgba(229, 37, 33);;
    border-radius: 1rem;
    margin: 2%;
    padding: 1.5%;
}

#gameover {
    font-family: 'Notable', sans-serif;

}

