body {
  background-image: url(./clouds.jpg);
  background-size: contain;
  background-size: cover;
  background-color: rgba(238, 238, 238, 0.5) !important;
  background-blend-mode: color;

}
.gameDiv {
    height: 600px;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background-image: url(./marioBackground.jpg);
    background-size: contain;
    background-size: cover;

}

.scoreBoard {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.word {
    text-align: center;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: linear;
    font-size: 50px;
    font-weight: bold;
  }
  
  
  /* Standard syntax */
  @keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:0px; top:600px;}
  }

  .guessed {
    color: red
  }

  