.gameDiv {
    height: 600px;
    width: 600px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

.word {
    text-align: center;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-timing-function: linear;
  }
  
  
  /* Standard syntax */
  @keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:0px; top:600px;}
  }